:root {
  --text-color: #3c3b37;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: var(--text-color);
}

/* ---Header --*/
.courses-list {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
  visibility: hidden;
  height: 0;
}
ol,
ul {
  list-style: none outside none;
}
.header-image {
  display: flex;
  justify-content: center;
}
.header-image img {
  margin: 1rem 0;
  object-fit: cover;
  width: 1150px;
  height: 300px;
  max-width: 100%;
}

/* Course Landing Page */
.course-main-page {
  display: flex;
  margin-top: 1.5rem;
}

div.course-intro > * {
  margin: 0.8rem 0.2rem;
}

.course-button {
  display: flex;
  justify-content: flex-start;
}
.course-button button {
  border: 1px solid #222;
  margin-right: 1rem;
}
.course-details {
  flex: 60%;
}
.course-information {
  border: 1px solid #222;
  padding: 1rem;
  margin: 1rem 1rem 1rem 0;
}

.course-learnings {
  display: flex;
}
.course-learnings-sub-1 {
  flex: 50%;
  margin: 0.4rem;
  list-style: circle;
}
.course-learnings-sub-2 {
  flex: 50%;
  margin: 0.4rem;
  list-style: circle;
}
div.course-learnings-sub-1 > * {
  margin: 1rem 0;
}
div.course-learnings-sub-2 > * {
  margin: 1rem 0;
}

.course-video {
  margin: auto;
  max-width: 100%;
}

.video-card iframe {
  max-width: 100%;
}

.btn-video {
  width: 100%;
  margin: 1rem 0;
  padding: 0.7rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
}
.btn-donate {
  background-color: rgb(240, 60, 60);
  color: #fff;
  opacity: 0.8;
}
.btn-donate:hover {
  opacity: 1;
  color: #fff;
}

/*Media Query*/
@media screen and (min-width: 1100px) {
  .courses-list {
    visibility: visible;
  }
}

@media screen and (max-width: 768px) {
  .course-main-page {
    flex-direction: column-reverse;
  }
  .course-learnings {
    flex-direction: column;
  }
  .course-button button {
    margin-right: 0.4rem;
  }
}
